<!DOCTYPE html>
<html>

   <head>
      <title>Request Header Parser - ninjazim</title>
      <link rel="shortcut icon" href="https://raw.githubusercontent.com/ninjazim/ninjazim.github.io/master/images/glitch/jelly-favicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <img src="https://github.com/ninjazim/ninjazim.github.io/blob/master/images/glitch/clean-jelly.png?raw=true" />
         <h1>Request Header Parser</h1>
        <h3>Visit <a href="/api/headers">/api/headers</a> to view your IP, Language, and OS version.</h3>
      </div>
  
      <div class="footer">
       <p>
         <a href="https://www.freecodecamp.org/ninjazim">freecodecamp.org/ninjazim</a>
       </p>
       <p>
         <a href="https://github.com/ninjazim/header-parser">github.com/ninjazim/header-parser</a>
       </p>
       
     </div>
   </body>

</html>
